<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Strobe-enhanced microscopy stage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/favicon.ico" />

    <link href="./static/base-style.css" rel="stylesheet">
    <link href="./static/site-style.css" rel="stylesheet">
                <link href="./assets/style.css" rel="stylesheet">
                
        <script type="text/javascript" src="./static/search.js" defer=""></script>
    </head>
<body>
<header class="site-header">
    <div class="wrapper header-wrapper" >
        <div class=header-text>
   
    <h1 class="site-title">Strobe-enhanced microscopy stage</h1>
   
    <p class="author">by Pierre Padilla-Huamantinco, Matías Hurtado-Labarca, and Tobias Wenzel</p>
    <p class="affiliation">Latin American Hub for Bioimaging Through Open Hardware (LIBRE hub)</p>
</div>
            </div>
</header>
<div class="page-content">
            <div>
            <nav class="sidebar">
                <a href="#" class="menu-icon">
                <svg viewBox="0 0 18 15">
                    <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                </svg>
                </a>
                <ul class="nav-list">
                <li>
    <a class="navhome" href="./">
        Strobe-enhanced microscopy stage
    </a>
</li>
<li id="nav-search" :class="focused && searchTerm.length > 0 ? 'search-result-popout' : 'search'" v-scope v-on:vue:mounted="mounted('./')">
  <input
    type="text"
    placeholder="Search..."
    v-on:input="search($event.target.value)"
    v-on:keypress="handleKeyPress"
    v-on:keyup.esc="$event.target.blur()"
    v-on:focus="handleFocus"
    v-on:blur="handleBlur"
    :value="searchTerm" />
    <div class="search-results" v-if="focused && searchTerm.length > 0">
        <div v-if="searchResults.length > 0">Results:</div>
        <div v-if="searchResults.length === 0">No results.</div>
        <template v-for="(result, index) in searchResults">
            <li>
                <a class="search-result" :href="`./${result.path}.html`">
               <span v-for="crumb in result.breadCrumbs.slice(0, -1)">
                ${crumb + ' > '}
                </span>
               ${result.title || result.breadCrumbs[result.breadCrumbs.length - 1]}
                <p>
                    <span v-for="node in result.highlightChars" :class="node.mark ? 'highlight' : ''" >${node.chars}</span>
                </p>
                </a>
            </li>
        </template>
    </div>
</li>
<li class="active">
    <a class="active" href="./3-level-station.html">
        Build the 3-level microscopy stage
    </a>
        <ul class="sub-nav-list">
                <li>
            <a class="not-active" href="./printing.html">
                Print the plastic parts
            </a>
        </li>
                <li>
            <a class="not-active" href="./laser-cutting.html">
                Laser cut the acrylic parts
            </a>
        </li>
                <li>
            <a class="not-active" href="./assemble-focus-mechanism.html">
                Assemble the focus mechanism
            </a>
        </li>
                <li>
            <a class="not-active" href="./basic-optics-module.html">
                Assemble the basics optics module
            </a>
        </li>
                <li>
            <a class="not-active" href="./attach-parts-to-top-plate.html">
                Attach parts to the top plate
            </a>
        </li>
                <li>
            <a class="not-active" href="./attach-parts-to-middle-plate.html">
                Attach parts to the middle plate
            </a>
        </li>
                <li>
            <a class="not-active" href="./attach-parts-to-bottom-plate.html">
                Attach parts to the bottom plate
            </a>
        </li>
                <li>
            <a class="not-active" href="./mount-optics.html">
                Mount the optics
            </a>
        </li>
                <li>
            <a class="active" href="./wiring.html">
                Mount the electronics
            </a>
        </li>
                <li>
            <a class="not-active" href="./illumination.html">
                Assemble the illumination
            </a>
        </li>
                <li>
            <a class="not-active" href="./finished.html">
                Assembly complete
            </a>
        </li>
            </ul>
    </li>
<li class="not-active">
    <a class="not-active" href="./software/software-installation.html">
        Software Installation
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./usage.html">
        Use your Stage
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./troubleshooting.html">
        Troubleshooting
    </a>
    </li>
<li class="not-active">
    <a class="not-active" href="./variants_accesories.html">
        Customisation and accessories
    </a>
    </li>

                </ul>
            </nav>
        </div>
        <div class="wrapper">
    <h1 id="mount-the-electronics">Mount the electronics</h1>
<div class="pagebom">
<h3 id="tools">Tools</h3>
<ul>
<li>1 <a Class="bom" href="parts/tools/2.5mmBallEndAllenKey.html">2.5mm Ball-end Allen key</a> </li>
<li>1 <a Class="bom" href="parts/tools/pliers.html">Needle-nose plier</a> </li>
</ul>
<h3 id="consumables">Consumables</h3>
<ul>
<li>2 <a Class="bom" href="parts/consumables/gloves.html">Nitrile gloves</a> </li>
</ul>
<h3 id="electronic-components">Electronic Components</h3>
<ul>
<li>1 <a Class="bom" href="parts/elect/pi-hat.html">Pi HAT</a>    - This is a custom open-source board documented <a href="https://github.com/wenzel-lab/modular-microfluidics-workstation-controller/tree/master/module-pi" target="_blank" title="">here</a></li>
<li>1 <a Class="bom" href="parts/elect/rpi-v4.html">Raspberry Pi</a> </li>
<li>1 <a Class="bom" href="parts/elect/strobe-cable.html">Strobe Cable</a>    - This is a custom connector documented <a href="https://github.com/wenzel-lab/open-microfluidics-workstation/" target="_blank" title="">here</a></li>
<li>1 <a Class="bom" href="parts/elect/strobe-module.html">Strobe Module</a>    - This is a custom open-source board documented <a href="https://github.com/wenzel-lab/modular-microfluidics-workstation-controller/tree/master/module-fast-imaging" target="_blank" title="">here</a></li>
</ul>
<h3 id="mechanical-components">Mechanical Components</h3>
<ul>
<li>4 <a Class="bom" href="parts/mech/nuts.html">M3 nut</a> </li>
<li>4 <a Class="bom" href="parts/mech/M3-25.html">M3x25mm cap head screw</a> </li>
</ul>
<h3 id="printed-parts">Printed Parts</h3>
<ul>
<li>2 <a Class="bom" href="models/spacer-11mm.html">Spacer-M</a> </li>
<li>4 <a Class="bom" href="models/spacer-4mm.html">Spacer-S</a> </li>
</ul>
</div>
<p>These instructions assume you have the custom electronic components pre-assembled.</p>
<div class="caution-block">
<p><strong>Caution!</strong> The electronic boards are static sensitive. Before touching them, touch a metal-earthed object. If you own one, consider wearing an anti-static strap.</p>
</div>
<h2 class="page-step" id="connect-the-camera">Step 1: Connect the camera</h2>
<ul>
<li>Use <a href="parts/consumables/gloves.html">nitrile gloves</a> to manipulate electronic components. </li>
<li>Insert the ribbon cable from the optics module into the camera port of the <a href="parts/elect/rpi-v4.html">Raspberry Pi</a>, ensuring the contacts are on the opposite side of the clasp. There are <a href="https://projects.raspberrypi.org/en/projects/getting-started-with-picamera/2" target="_blank" title="">detailed instructions on the Raspberry Pi website</a>.</li>
</ul>
<p><img alt="" src="images/RPi_RibbonCable.jpg" title="" /></p>
<h2 class="page-step" id="prepare-the-electronics">Step 2: Prepare the electronics</h2>
<ul>
<li>Place the <a href="parts/elect/strobe-module.html">strobe module</a> over the <a href="parts/elect/pi-hat.html">Pi HAT</a>.</li>
<li>Mount the Pi HAT on the Raspberry Pi GPIO headers. There is a space to place the ribbon cable.</li>
</ul>
<div class="gallery-thumb">
    <img onmouseover="getElementById('gallery-show0').src=this.src" src="images/Pi-Hat_StrobeModule.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show0').src=this.src" src="images/RPi_Pi-Hat.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show0').src=this.src" src="images/RPi_Pi-Hat_1.jpg" alt="" />
</div>
<div class="gallery-show"><img id="gallery-show0" src="images/Pi-Hat_StrobeModule.jpg" alt=""/></div>
<ul>
<li>Connect the 5-pin double row DuPont female connector of the <a href="parts/elect/strobe-cable.html">strobe cable</a> to the Pi HAT.</li>
</ul>
<div class="gallery-thumb">
    <img onmouseover="getElementById('gallery-show1').src=this.src" src="images/RPi_Pi-Hat_StrobeCable.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show1').src=this.src" src="images/RPi_Pi-Hat_StrobeCable_1.jpg" alt="" />
</div>
<div class="gallery-show"><img id="gallery-show1" src="images/RPi_Pi-Hat_StrobeCable.jpg" alt=""/></div>
<h2 class="page-step" id="mount-the-boards">Step 3: Mount the boards</h2>
<ul>
<li>Take four <a href="parts/mech/M3-25.html">M3x25mm cap head screws</a> and insert them into each hole from the Pi hat and the Raspberry Pi. Use a <a href="parts/tools/2.5mmBallEndAllenKey.html">2.5mm Ball-end Allen key</a>.</li>
<li>Use a <a href="models/spacer-11mm.html">11mm spacer</a> in between the holes next to the power supply and USB connectors. A <a href="parts/tools/pliers.html">needle-nose plier</a> can be helpful to hold the spacer while you screw.</li>
</ul>
<div class="gallery-thumb">
    <img onmouseover="getElementById('gallery-show2').src=this.src" src="images/prepare-electronics.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show2').src=this.src" src="images/prepare-electronics_1.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show2').src=this.src" src="images/prepare-electronics_2.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show2').src=this.src" src="images/prepare-electronics_3.jpg" alt="" />
</div>
<div class="gallery-show"><img id="gallery-show2" src="images/prepare-electronics.jpg" alt=""/></div>
<ul>
<li>Use a <a href="models/spacer-4mm.html">4mm spacer</a> in between the electronic assembly and the bottom plate.</li>
<li>Place the electronic assembly in the bottom plate and attach it to the surface using four <a href="parts/mech/nuts.html">M3 nuts</a>. A <a href="parts/tools/pliers.html">needle-nose plier</a> can be helpful to hold the nut.</li>
</ul>
<div class="gallery-thumb">
    <img onmouseover="getElementById('gallery-show3').src=this.src" src="images/mount_spacers.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show3').src=this.src" src="images/mount_boards.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show3').src=this.src" src="images/mount_boards_1.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show3').src=this.src" src="images/mount_boards_2.jpg" alt="" />
    <img onmouseover="getElementById('gallery-show3').src=this.src" src="images/mount_boards_3.jpg" alt="" />
</div>
<div class="gallery-show"><img id="gallery-show3" src="images/mount_spacers.jpg" alt=""/></div>
<!-- GitBuilding Nav -->
<hr />
<p><a href="mount-optics.html">Previous page</a> | <a href="illumination.html">Next page</a></p>
    </div>
</div>
<footer class="site-footer">
    <div class="wrapper">
        <a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <img class="icon" src="./static/Logo/GitBuilding500x.png" alt="GitBuilding logo">
    <span class="doc-info">Documentation powered by GitBuilding</span>
</a>
    <p class="author">©2026 Pierre Padilla-Huamantinco, Matías Hurtado-Labarca, and Tobias Wenzel</p>
    <p class="email">Contact: <a href="mailto:librehub@uc.cl">librehub@uc.cl</a></p>
    <p class="license">Strobe-enhanced microscopy stage is released under <a href="license.html">CERN-OHL-S-2.0</a>.</p>

    </div>
</footer></body>
</html>